
.container {
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#display {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#reset {
  background-color: black;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  transition: background-color .3s linear; 
}

.box {
    border: 4px double rgb(0, 0, 0);
    width: fit-content;     
    margin: 0 auto;    
    padding: 1rem 1.5rem;    
}

.deck {
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: fit-content;    
}

.row {
    display: flex;
    gap: 1rem;         
}

.col {
    line-height: 1.2;     
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



#reset:hover {
    background-color: gray;
}

h1 {
    text-align: center;
}

.matched {
    opacity: 0.2;
}

.alert {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
}

#content > #message {
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 18px;
  padding: 10px;
  margin: auto;
  z-index: 2;
}
#content > #alert-title {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@keyframes spin {
  from { transform: rotate(0deg); color: green; }
  to { transform: rotate(360deg); color: green; }
}

#celebrate {
    transition: all 1s ease-in-out; 
    animation: spin .5s linear forwards;
    text-shadow: 0 0 5px green;
}

#celebrate:hover {
    text-shadow: 0 10px 10px green;
    transform: scale(1.1);
}


#content {
  background-color: #ffffff;
  margin: 5rem auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 25rem;
  height: 15rem;
  box-shadow: 5px 5px 5px  rgba(0,0,0,0.5);
}

#close-button {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

#close-button:hover {
    color: red;
} 
